/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Microsoft JhengHei"; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Microsoft JhengHei";
  box-sizing: border-box; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

.row {
  display: flex; }

.col-1 {
  width: 4.16667%; }

.col-2 {
  width: 8.33333%; }

.col-3 {
  width: 12.5%; }

.col-4 {
  width: 16.66667%; }

.col-5 {
  width: 20.83333%; }

.col-6 {
  width: 25%; }

.col-7 {
  width: 29.16667%; }

.col-8 {
  width: 33.33333%; }

.col-9 {
  width: 37.5%; }

.col-10 {
  width: 41.66667%; }

.col-11 {
  width: 45.83333%; }

.col-12 {
  width: 50%; }

.col-13 {
  width: 54.16667%; }

.col-14 {
  width: 58.33333%; }

.col-15 {
  width: 62.5%; }

.col-16 {
  width: 66.66667%; }

.col-17 {
  width: 70.83333%; }

.col-18 {
  width: 75%; }

.col-19 {
  width: 79.16667%; }

.col-20 {
  width: 83.33333%; }

.col-21 {
  width: 87.5%; }

.col-22 {
  width: 91.66667%; }

.col-23 {
  width: 95.83333%; }

.col-24 {
  width: 100%; }

.btn-main-s {
  background-color: #088B9A;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  width: 130px;
  border: none; }

.btn-main-l {
  background-color: #088B9A;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  width: 162px; }

.btn-sub-s {
  background-color: #F99D19;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  width: 130px; }

.btn-sub-l {
  background-color: #F99D19;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  width: 162px; }

.shadow-text {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.shadow-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

body {
  background-color: #122B2F; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

img {
  width: 100%;
  vertical-align: middle; }

.logo {
  padding: 20px; }
  .logo .logoImg {
    padding-right: 10px; }
  .logo h1, .logo h2 {
    font-size: 16px;
    color: #088B9A;
    line-height: 18px; }

.admin {
  padding: 0px 20px; }
  .admin #adminImg {
    margin-right: 20px; }
    .admin #adminImg img {
      width: 50px;
      border-radius: 50%; }
  .admin p {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    color: #fff; }

#menu {
  padding: 50px 0px; }
  #menu li {
    padding: 5px 20px; }
    #menu li a {
      color: #fff;
      font-weight: bold;
      line-height: 26px; }
    #menu li i {
      font-size: 24px;
      vertical-align: middle;
      transition: .5s; }
  #menu .submenu {
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.2); }

#signOut {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  background: none;
  border: none;
  padding-Left: 20px; }

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #F4F7FA;
  padding: 48px 20px; }

#breadcrumb {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-size: .875rem;
  color: #484848; }
  #breadcrumb i {
    font-size: .875rem;
    vertical-align: top; }
  #breadcrumb a {
    color: #484848; }
  #breadcrumb #currentLoc {
    color: #088B9A;
    font-weight: bold; }

.tablearea {
  padding-top: 20px;
  color: #484848;
  line-height: 24px;
  position: relative; }
  .tablearea .tab {
    font-size: 0px; }
    .tablearea .tab .tablinks {
      font-size: 16px;
      color: #484848;
      text-align: center;
      padding: 10px 28px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px 4px 0 0; }
      .tablearea .tab .tablinks.active {
        background-color: #122B2F;
        color: #fff;
        border: 1px solid #122B2F; }
  .tablearea #addItem {
    position: absolute;
    top: 10px;
    right: 20px; }
  .tablearea table {
    width: 100%; }
    .tablearea table tr th {
      background-color: #f4f4f4;
      font-weight: bold;
      padding: 10px;
      border: 1px solid #ddd; }
    .tablearea table tr td {
      text-align: center;
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #fff; }
    .tablearea table tr a {
      display: inline-block;
      padding: 0 10px; }
      .tablearea table tr a .edit {
        color: #484848; }
      .tablearea table tr a .delete {
        color: #D9534F; }
  .tablearea .tabcontent {
    display: none; }
    .tablearea .tabcontent.active {
      display: block; }

.editArea {
  width: 910px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  color: #484848;
  line-height: 36px;
  background-color: #f4f4f4; }
  .editArea label {
    display: block;
    text-align: right;
    margin-Right: 10px; }
  .editArea input,
  .editArea select,
  .editArea textarea {
    display: inline-block;
    padding: 4px;
    margin: 2px 0;
    border-radius: 4px;
    border: 1px solid #ddd; }

.confirmArea {
  padding: 20px 10px; }
  .confirmArea .btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    border: none; }
    .confirmArea .btn.btnCancel {
      background-color: #D9534F; }
    .confirmArea .btn.btnSubmit {
      background-color: #5DB7C5; }
    .confirmArea .btn + .btn {
      margin-left: 15px; }
