// 色票們

$color-text:#484848;
$color-blue1:#122B2F;
$color-blue2:#088B9A;
$color-blue3:#5DB7C5;
$color-orange1:#F27F22;
$color-orange2:#F99D19;
$color-attention: #D9534F;
$color-bg: #f4f4f4;
//主按鈕
$btn-main-s:"btn-main-s";
$btn-main-l:"btn-main-l"; 
//次按鈕
$btn-sub-s:"btn-sub-s";
$btn-sub-l:"btn-sub-l"; 

//陰影 text跟box的都一樣
$shadow:0 3px 6px rgba(0,0,0,0.16);

//圓角
$border-radius-btn:21px;