// 色票們

$color-text:#484848;//內文
$color-main-yellow:#d8dd76;//logo黃
$color-main-blue:#32545c;//logo深藍
$color-subTitle:#0d6172;//小標題
$color-btn-main:#5db7c5;//主按鈕色
$color-btn-sub:#95d0d9;//次按鈕色
//主按鈕
$btn-main-s:"btn-main-s";
$btn-main-l:"btn-main-l"; 
//次按鈕
$btn-sub-s:"btn-sub-s";
$btn-sub-l:"btn-sub-l"; 

//陰影 text跟box的都一樣
$shadow:0 3px 6px rgba(0,0,0,0.16);

//圓角
$border-radius-btn:21px;